.appbg{
    background-color: #000000;
}

.textstyle{
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-weight: bold;
    
}

.iconstyle{
    
    margin: 2px;
}

.page{
    background-color: #000000;
}

.lg{
    font-family: 'League Gothic';
    font-size: 40px;
    color: white;
}